<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>

<h1>Outside of section</h1>

<section class="banner d-flex justify-content-center align-items-center" >
     <div class="text-center">
     	<h1>This is home page</h1>
     	<p>Start collecting smart manager for your company to bulid your company more valuable</p>
     	
     	<button class="btn btn-success btn-lg">Get Start</button>
     
     </div>
     

</section>
	
</body>
</html>