<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>

<h1>Outside of section</h1>

<section class="container">
     <div class="container mt-2 ">
     		<div class="row">
     		
     			<div class="col md-4 offset-md-4">
     					<div class="my-card">
     					
     					
     					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
							  <p th:text="${session.message.content}"></p>
							  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
							  
							</div>
     					
     					
     					
     					
     					<div class="container text-center">
     					<img class="mx-auto" style="width: 50px" src="" th:src="@{/image/reg.png}"/>
     					
     					</div>
     					
     					
     						<h1 class="text-center">SignUp Here</h1>
     						<form novalidate="novalidate" action="" th:action="@{/do_register}" method="post" th:object="${user}">
     						
     						
     						
     						<div class="form-group">
     								<label for="name_text">Your Name</label>
     								<input type="text"
     								class="form-control"
     								th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}"
     								id="name_text"
     								name="name"
     								placeholder="Enter Your Name"
     								aria-describedby="emailHelp"
     								th:value="${user.name}"
     								required />
     								
     								<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
     									
     								</div>
     							
     							
     							</div>
     						
     						
     						
     							<div class="form-group">
     								<label for="emailId">Email address</label>
     								<input type="email"
     								class="form-control"
     								id="emailId"
     								name="email"
     								placeholder="Enter Your E-mail"
     								aria-describedby="emailHelp"
     								th:value="${user.email}"
     								required />
     							
     							
     							</div>
     							
     							
     							<div class="form-group">
     								<label for="password">Email address</label>
     								<input type="password"
     								class="form-control"
     								id="password"
     								name="password"
     								placeholder="Password"
     								aria-describedby="emailHelp"
     								required />
     							
     							
     							</div>
     							
     							
     							<div class="form-group">
     									<label >About</label>
     									<textarea th:value="${user.about}" th:text="${user.about}" name="about" placeholder="Write about yourself" class="form-control"  rows="2"></textarea>
     							
     							</div>
     							
     							<div class="form-group form-check">
     									<input type="checkbox"
     									name="agreement"
     									class="form-check-input"
     									id="agreement" />
     							<label for="agreement">Accept term and Condition</label>		
     									
     							</div>
     							
     							
     							
     							<div class="container text-center">
     								<button type="submit" class="btn bg-primary text-white" >Submit</button>
     								
     								<button type="reset" class="btn bg-warning text-white" >Reset</button>
     							
     							</div>
     							
     							
     							
     							
     							
     						
     						
     						</form>
     					
     					</div>
     						
     			</div>
     		
     		</div>
     
     
     </div>
     
     
</section>
	
</body>
</html>